/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common css start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--primary);
    font-size: 16px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--light);
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    padding: 0.78125rem 1rem;
    background-image: linear-gradient(48deg, var(--greadent-1), var(--greadent-2), var(--greadent-3));
    border-radius: 6.25rem;
    border: transparent;
    cursor: pointer;
}

.section-heading {
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 3.125rem 0 1rem 0;
}

@media screen and (max-width: 36rem) {

    .section-heading {
        font-weight: 700;
        font-size: 2rem;
    }

}

/* color  */
:root {
    --primary: #FFFFFF;
    --secondery: #00FF88;
    --bac: #412567;
    --bgc-2: #230E3D;
    --bgc-3: #35116579;
    --grey: #1A0B2E;
    --light: #b8b5b5;
    --greadent-1: #F7E93F;
    --greadent-2: #FB09B4;
    --greadent-3: #9100F8;
    --shado: #2A186C;
}


/* common css end  */

/* nav section start  */
nav {
    background-color: var(--grey);
    border-bottom: 0.0625rem solid var(--bac);
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu ul {
    gap: 2rem;
}

.menu-item:hover {
    color: var(--greadent-1);
}

button {
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

button:hover {
    background-image: linear-gradient(-48deg, var(--greadent-1), var(--greadent-2), var(--greadent-3));

}

.hamburger {
    display: none;
}


/* responsive  */
@media (min-width: 36rem) and (max-width: 62rem) {

    .logo-img {
        width: 12rem;
    }

    .menu,
    header>.btn {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    .hamburger img {
        width: 2rem;
    }

}

@media screen and (max-width: 36rem) {

    .logo-img {
        width: 8rem;
    }

    .menu,
    header>.btn {
        display: none;
    }

    .hamburger {
        display: inline;
    }

}

/* nav section end  */

/* banner section start */
.banner {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6.3125rem 0;
}

.banner-circle {
    position: relative;
    display: inline-block;
    margin-bottom: 2.5rem;
}

.banner-btn {
    position: absolute;
    top: 0.625rem;
    right: 1.375rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    font-weight: bold;
    font-size: 1.125rem;
    background-color: var(--secondery);
    border: transparent;
    color: var(--grey);
    box-shadow: 0 0 0.5rem var(--secondery);
}

.microphone {
    width: 21.875rem;
    height: 21.875rem;
    background-image: linear-gradient(48deg, var(--greadent-1), var(--greadent-2), var(--greadent-3));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid var(--shado);
}

.banner-title {
    font-size: 3.75rem;
    letter-spacing: 1px;
}

.banner-decription {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

.btn-1 span {
    margin-left: 0.375rem;
}

.btn-2 {
    border: 1px solid var(--secondery);
    background: transparent;
    margin-left: 0.5rem;
}

.btn-2 span {
    color: var(--secondery);
    margin-left: 0.375rem;
}

/* responsive  */
@media (min-width: 36rem) and (max-width: 62rem) {}

@media screen and (max-width: 36rem) {

    .microphone {
        width: 12.5rem;
        height: 12.5rem;
        border: 0.25rem solid var(--shado);
    }

    .microphonr-icon {
        width: 3.125rem;
    }

    .banner-btn {
        position: absolute;
        right: -1.375rem;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-decription {
        margin: 1rem 1rem 2rem 1rem;
    }
}

/* banner section end */

/* about section start */
.about {
    background-color: var(--grey);
}

.about-content {
    text-align: center;
}

.about-detail {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--bac);
}

.about-detail span {
    display: block;
    margin-top: 40px;
    color: var(--light);
}

.about-count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 5rem 0 7.5rem 0;
    justify-content: space-between;
}

.content-detail>h3 {
    color: var(--secondery);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content-detail>p {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

/* responsive  */
@media (min-width: 36rem) and (max-width: 62rem) {}

@media screen and (max-width: 36rem) {
    .about-content {
        margin: 0 1.25rem;
    }

    .about-count {
        margin: 0 1.25rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .about-detail {
        line-height: 1.5rem;
    }
}


/* about section end */

/* techwave swction start  */
.techwave {
    background-color: var(--bgc-2);
    text-align: center;
    padding: 1.25rem 0 7.5rem 0;
}

.techwave-card {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 21.875rem);
    gap: 1.875rem;
}

.small-layout {
    grid-row: span 2;
    grid-column: span 1;
}

.big-layout {
    grid-column: span 2;
    grid-row: span 1;
}

.card-detail {
    text-align: left;
    padding: 3.75rem 2.5rem;
    border-radius: 3.125rem;
    background-color: var(--bgc-3);
    align-items: center;
    justify-content: center;
}

.card-detail>h3 {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-detail>p {
    line-height: 2rem;
}

/* responsive  */

@media screen and (max-width: 36rem) {

    .techwave-card {
        margin: 0 1.25rem;
    }

    .small-layout {
        grid-column: span 3;
        grid-row: span 1;
    }

    .big-layout {
        grid-column: span 3;
    }
}

/* techwave swction end  */

/* featured section start  */
.featured {
    background-color: var(--grey);
    padding: 1.25rem 0 2.5rem 0;
}

.featured .section-heading {
    text-align: center;
}

.featured-card {
    background-color: var(--bgc-3);
    border-radius: 2.125rem;
    overflow: hidden;

}

.featured-content {
    padding: 24px;
    gap: 20px;
    justify-content: space-between;
}

.featured-content>h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 12px 0;

}

.featured-content>p {
    font-weight: 400;
    line-height: 24px;

}

.fitured-time {
    margin-top: 12px;
}

.fitured-time span {
    color: var(--secondery);
    margin-left: 0.5rem;

}

/* responsive  */

@media screen and (max-width: 36rem) {
    .featured-content {
        flex-wrap: wrap;
    }

    .featured {
        padding-bottom: 0;
    }
}

/* featured section end  */

/* host section start  */
.host {
    background-color: var(--grey);
    padding: 2.5rem 0 5.5rem 0;
    text-align: center;
}

.host-content {
    background-color: var(--bgc-3);
    padding: 2.5rem;
    margin-top: 2.5rem;
    border-radius: 2.5rem;
    gap: 1.5rem;
}

.host-content-area {
    text-align: left;
}

.host-content-area>h3 {
    font-size: 2rem;
    font-weight: 700;
}

.host-content-area>p {
    line-height: 1.5rem;
    padding: 1rem 0;
}

.host-social {
    gap: 0.5rem;
    margin-top: 1rem;
}

.host-social a {
    border: 1px solid var(--greadent-3);
    border-radius: 3.125rem;
    padding: 0.625rem;
}

/* responsive  */
@media screen and (max-width: 36rem) {
    .host-content {
        flex-direction: column;
        margin: 0 1.25rem;
    }

    .host-content-area {
        text-align: center;
    }

    .host-social {
        justify-content: center;
    }
}

/* host section end  */

/* footer section start  */
.footer {
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.5rem 0;
    text-align: center;
}

.footer-content ul {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 2rem 0;
}

.footer-content ul li a {
    color: var(--light);
}

.footer-content ul li a img {
    margin-right: 0.5rem;
}

.copyright {
    color: var(--light);
}

/* responsive  */
@media screen and (max-width: 36rem) {
    .footer-content {
        margin: 0 1.25rem;
    }

    
.footer-content ul {
    flex-wrap: wrap;
}
}

/* footer section end  */